<div class="container">
  <% @messages.each do |message| %>
    <%= sync_new partial: "message", resource: Message.new %>
  <% end %>
</div>
  <div class="form-group left">
    <%= form_for @message, url: messages_path(@message) do |f| %>
    <%= f.text_field :content, rows: 1, autofocus: :true %>
    <%= f.submit "send" %>
    <% end %>
  </div>